body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#wrapper {
    flex: 1;
}

.mw230 {
    max-width: 230px;
}

#map {
    min-height: 70vh;
}

.map-modal {
    min-width: 80vw;
}

img.active-marker {
    filter: hue-rotate(260deg); /* green color */
}

@media (prefers-color-scheme: dark) {
    /* Increase contrast of modal closing button, in dark mode */
    .delete::after, .delete::before, .modal-close::after, .modal-close::before {
        background-color: black;
    }
}
