body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#wrapper {
    flex: 1;
}

.mw230 {
    max-width: 230px;
}

#map {
    min-height: 70vh;
}

.map-modal .modal-content {
    min-width: 80vw;
}

img.active-marker {
    filter: hue-rotate(260deg); /* green color */
}

/* move closing button for modal into model itself */
.modal-close{
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
}

/* Change color for closing button of modal, as background is now different */
.modal-close::before, .modal-close::after{
    background-color: black;
}

@media (prefers-color-scheme: dark) {
    .modal-close::after, .modal-close::before {
        background-color: white;
    }

    /* make modal background color in dark mode not bright */
    .modal-background {
        background-color: rgba(54, 54, 54, 0.86);
    }
}

.ws-5{
    word-spacing: 5px;
}
